@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

.dashboardHeader {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}

.logoBoton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 15px;
}

.logoCuenta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding-top: 10px;
}

.logoCuenta h2 {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}


.navPerfiles {
    display: flex;
    justify-content: space-around;
}

.navPerfiles * {
    padding-bottom: 0;
    color: #878080;
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
}

.navPerfiles *:focus {
    color: #000000;
    text-decoration: underline solid #000000;
    text-underline-offset: 5px;
}

.section {
    width: 100%;
    margin: 140px auto;
}

.section__h1 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    font-family: "Oxygen";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}


@media  (min-width: 900px)  {
    
    .dashboardHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 115px;
        
    }

    .logoCuenta {
        display: none;
    }

    .logoBoton {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navPerfiles {
        display: flex;
        justify-content: space-between;
        gap: 65px;
    }

    .navPerfiles *:hover {
        color: #000000;
        text-decoration: underline solid #000000;
        text-underline-offset: 5px;
    }

    .section {
        width: 100%;
        
        margin: 115px auto 0 auto;
    }

    .section__h1 {
        display: none;
    }

    .body {
        min-height: 100vh;
        background-color: #264653;
        padding-top: 10px;  
    }

}