.gridItem {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e9b74c;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

    background-size: cover;
    /*hace que la imaggen ocupe todo el contenedor*/
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.gridItem:hover {
    filter: opacity(0.9);
    -webkit-filter: opacity(0.9);
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    -o-transform: scale(1.04);
}

/* auto-fill calcula el ancho del grid y crea columnas ssi es neceeesario
    auto-fit ensancha loss elementos si es necesario*/
.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    /*para que llene los espaacios vacios*/
}


@media (min-width: 600px) {

    /*para que no see aplique en movil*/
    .wide {
        grid-column: span 2;
    }

    .tall {
        grid-row: span 2;
    }
}