@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

.container {
    height: 100vh;
    background: linear-gradient(113deg, #264653 25.18%, #2A9D8F 80.69%);
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 9%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.titulo {
    text-align: start;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 125%;
    padding-left: 21px;
    margin-top: -12px;
    
    



    color: #FFFFFF;
}

.boton {
    display: flex;
    justify-content: flex-end;
}

button {
    background: #264653;
    border-radius: 30px;
    padding: 8px 47px;
    color: #FFF;
    margin-right: 17px;
}